@charset 'UTF-8';

* {
    margin: 0%;
    padding: 0%;
}

#titulo {
    color: #C3E0E5;
    background-color: #274472;
    width: 100%;
    height: 30%;
    padding: 3%;
}

#titulo h1 {
    font-size: 220%;
    margin: 0% 0% 0% 7%;

}

body {
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
    font-size: 120%;
    color: #274472;
    background-color: #C3E0E5;
    overflow-x: hidden;
}

#content {
    margin: 5% 10% 5% 10%;
    width: 80%;
}

#content h2 {
    margin-bottom: 2%;
}

#content ul {
    margin: 0% 0% 0% 4%;
}

#content dd {
    margin-bottom: 1%;
}

footer {
    color: #C3E0E5;
    background-color: #274472;
    width: 100%;
    height: 15%;
    padding: 2%;
    text-align: center;
    font-size: 100%;
}

